* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1000px;
  margin: 0 auto;
}
.book {
  display: flex;
  justify-content: flex-start;
}
.tit{color: #efefef;text-align: center;height: 170px;background-color: #676767;margin-bottom: 30px;}
.ft {
  color: #8f8f8f;
  font-size: 15px;
  line-height: 2;
}
.ft span {
  margin-right: 15px;
}
.left {
  width: 132px;
  padding: 0 10px;
}
.left img {
  display: block;
  width: 112px;
  height: 160px;
}
.right {
  flex: 1;
  margin-left: 40px;
}
.name,.author {line-height: 2;}