<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜索首页</title>
</head>
<body>
  <!-- action提交至服务器的地址 -->
  <!-- <form action="/search1" method="get">
    <input type="text" name='searchKey'>
    <input type="text" name='username'>
    <input type="submit" value="搜索">
  </form> -->

  <form action="/search" method="post">
    <input type="text" name='username '>
    <input type="password" name='password'>
    <input type="submit" value="搜索">
  </form>
</body>
</html>